;How to use: modify the machine parameters in this text and save, and then copy it to the TF card or U disk.
;Enter the "Settings" -> "System" -> "System Update", and select the TF card or U disk that with the configuration file.
;Select and implement the configuration file.

M867 S0
;Set the system language(0:English 1:Simplified Chinese)

M868 R136 U252 B0

M860 S2
;Set the printer structure mode(S0:XYZ; S1:delta; S2:corexy; S3:corexz;)

M860 X300.000 Y220.000 Z220.000
;X:X-axis travel space
;Y:Y-axis travel space
;Z:Z-axis travel space

M206 X0.000 Y0.000 Z0.000
;X:X-axis origin offset
;Y:Y-axis origin offset
;Z:Z-axis origin offset

M861 X-1 Y1 Z1
;X:X-axis origin position
;Y:Y-axis origin position
;Z:Z-axis origin position

M869 S220.000 F600.000 L685.000 E2.000 R0.000
;S:Minimum temperature when changing filament
;F:With the speed of changing filaments(mm/min)
;L:With the length of the filament(mm)
;E:Extrusion length after changing filaments(mm)
;R:After the filament is replaced, the length is extracted after extrusion

M207 S10.000 F6000.000 Z2.000
;S:retract length
;F:retract and recover speed(mm/min)
;Z:retract and recover Z axis lift

M208 S10.000 F6000.000 Z2.000
;S:recover length
;F:retract and recover speed(mm/min)
;Z:retract and recover Z axis lift

M872 X0 Y0 Z0
;X:X-endstop wiring mode(0:normal open 1:normal close)
;Y:Y-endstop wiring mode(0:normal open 1:normal close)
;Z:Z-endstop wiring mode(0:normal open 1:normal close)

M862 X1 Y1 Z1
;X:X-endstop trigger mode(0:low trigger 1:high trigger)
;Y:Y-endstop trigger mode(0:low trigger 1:high trigger)
;Z:Z-endstop trigger mode(0:low trigger 1:high trigger)

M866 X30.000 Y0.000 Z0.750 A10.000 B90.000 C160.000 S3 T1 W0 F0
;X:Offset of the probe relative to the first nozzle on the X axis
;Y:Offset of the probe relative to the first nozzle on the Y axis
;Z:Offset of the probe relative to the first nozzle on the Z axis
;O:Probe opening angle
;C:Probe closed angle
;R:Probe reset angle
;S:Automatic leveling points
;T:Probe trigger mode(0:low trigger 1:high trigger)
;W:Probe wiring mode(0:normal open 1:normal close)
;F:Probe function(0:Probe just uses to autoleveling 1:Probe uses to autoleveling and Z-min endstop)

M876 X5.000 Y5.000 Z2.000 R5.000 F40.000
;X:X axis position after pause
;Y:Y axis position after pause
;Z:Z lift when pause
;R:Retract when pause
;F:Retract speed after pause

M900 E0 K0.000
;Extruder linear advance factor

M900 E1 K0.000
;Extruder linear advance factor

M218 X0.000 Y0.000
;X:Offset of the second nozzle relative to the first nozzle on the X axis(mm)
;Y:Offset of the second nozzle relative to the first nozzle on the Y axis(mm)

M875 N0
;Set the extended motor function

M201 X1500.000 Y1500.000 Z10.000 E1500.000 
;X:X-axis max acceleration(mm/s*s)
;Y:Y-axis max acceleration(mm/s*s)
;Z:Z-axis max acceleration(mm/s*s)
;E:E-axis max acceleration(mm/s*s)

M203 X250.000 Y250.000 Z20.000 E59.000 T3.000 P3.000
;X:X-axis max feedrate(mm/s)
;Y:Y-axis max feedrate(mm/s)
;Z:Z-axis max feedrate(mm/s)
;E:E-axis max feedrate(mm/s)
;T:min travel speed(mm/s)
;P:min print speed(mm/s)
 
M204 P1500.000 R1500.000 T1500.000
;P:Print acceleration(mm/s*s)
;T:Travel acceleration(mm/s*s)
;R:Retraction acceleration(mm/s*s)

M205 X16.000 Y16.000 Z5.000 E15.000
;X:X-axis mutation speed(mm/s)
;Y:Y-axis mutation speed(mm/s)
;Z:Z-axis mutation speed(mm/s)
;E:E-axis mutation speed(mm/s)

M210 X35.000 Y35.000 Z18.000
;X:X-axis homing speed(mm/s)
;Y:Y-axis homing speed(mm/s)
;Z:Z-axis homing speed(mm/s)

M877 X10.000 Y10.000 Z5.000
;X:X-axis positioning speed(mm/s)
;Y:Y-axis positioning speed(mm/s)
;Z:Z-axis positioning speed(mm/s)

M92 X640.000 Y640.000 Z3200.000 A3352.000 B98.000
;X:X-axis motor step value
;Y:Y-axis motor step value
;Z:Z-axis motor step value
;A:E0-axis motor step value
;B:E1-axis motor step value

M93 X1 Y1 Z1 A1 B0
;X:X-axis motor direction
;Y:Y-axis motor direction
;Z:Z-axis motor direction
;A:E0-axis motor direction
;B:E1-axis motor direction

M865 H0 S0
;S:Hotend0 temperature measuring element type(0:NTC100K 1:PT100)
M865 H1 S0
;S:Hotend1 temperature measuring element type(0:NTC100K 1:PT100)

M142 H0 S0.000
;S:Hotend0 min temperature
M142 H1 S0.000
;S:Hotend1 min temperature
M142 B0.000
;B:Hotbed min temperature

M143 H0 S260.000
;S:Hotend0 max temperature
M143 H1 S260.000
;S:Hotend1 max temperature
M143 B110.000
;B:Hotbed max temperature

M144 H0 S0.500
;S:Hotend0 Temperature protection threshold
M144 H1 S0.500
;S:Hotend1 Temperature protection threshold
M144 B0.200
;B:Hotbed Temperature protection threshold

M301 H0 P378.067 I18.392 D1942.933
;P:Hotend0 Proportional coefficient
;I:Hotend0 Integral coefficient
;D:Hotend0 Differential term coefficient
M301 H1 P378.067 I18.392 D1942.933
;P:Hotend1 Proportional coefficient
;I:Hotend1 Integral coefficient
;D:Hotend1 Differential term coefficient
M304 P898.249 I13.969 D14440.253
;P:Hotbed Proportional coefficient
;I:Hotbed Integral coefficient
;D:Hotbed Differential term coefficient

M146 H0 P200.000 A240.000 C190.000 Q210.000
;P:PLA material hotend0 preheating temperature
;A:ABS material hotend0 preheating temperature
;C:Customize material hotend0 preheating temperature
;Q:Hotend0 common preheating temperature
M146 H1 P200.000 A240.000 C190.000 Q210.000
;P:PLA material hotend1 preheating temperature
;A:ABS material hotend1 preheating temperature
;C:Customize material hotend1 preheating temperature
;Q:Hotend1 common preheating temperature
M146 B P60.000 A110.000 C75.000 Q80.000
;P:PLA material hotbed preheating temperature
;A:ABS material hotbed preheating temperature
;C:Customize material hotbed preheating temperature
;Q:Hotbed common preheating temperature

M500
;Save parameter